<h1> Overdue Books </h1>

	
<%= @reservations.each do |reservation| %>
			<li>
				<%= image_tag(reservation.book.image_cover_url,  :size => "150x200")%>
				<%= link_to(reservation.book.title, books_path) %> by 
				<%= reservation.book.author.name %>
				<p><label>Reserved On: </label><%= reservation.reserved_on %></p>
				<p><label>Due On: </label><%= reservation.due_on %></p>
				</br>
			</li></br>
	<% end %>
