<article class="author">
	<header>
		<h1 id="author_name_head"><%= @author.name %><h1>
	</header>
	<p><%= image_tag(@author.image_url,  :size => "150x200")%><span class="span_top"><%= @author.biography %></span></p>
	<header class="sub_head">Details</header>
		<p><label>Date of birth: </label><%= formatted_date(@author.dob) %></p>
		<p><label>Nationality: </label><%= @author.nationality %></p>
		<p><label>Awards: </label><%= @author.awards %></p>
	<header class="sub_head">Publications</header></br>
	<ol>
	<% @books.each do |book| %>
		<p>
			<%= image_tag(book.image_cover_url,  :size => "150x200")%>
			<%= link_to(book.title, book) %> by 
			<%= book.author.name %>
			</br>
		</p></br>
	<% end %>
	</ol>
</article>l

<%= link_to("Edit #{@author.name}", edit_author_path(@author)) %> |
<%= link_to("All Authors", authors_path) %>

<%= button_to "Delete #{@author.name}", @author, 
				method: :delete,
				data: { confirm: 'Are you sure?'} %>
