<%= form_for(@book) do |f| %>
	<%= f.label :title %> <%= f.text_field :title, autofocus: true %><br />
	<%= f.label :isbn %> <%= f.text_field :isbn %><br />
	<%= f.label :author_id %> <%= f.text_field :author_id %><br />
	<%= f.label :genre %> <%= f.text_field :genre %><br />
	<%= f.label :abstract %> <br /> 
	<%= f.text_area :abstract %><br />
	<%= f.label :pages %> <%= f.text_field :pages %><br />
	<%= f.label :published_on %> <%= f.date_select :published_on %><br />
	<%= f.label :image_cover_url %> <%= f.text_field :image_cover_url %><br />
	<%= f.label :total_in_library %> <%= f.text_field :total_in_library %><br />

	<p>
    	<%= f.submit %>
    	<%= link_to 'Cancel', books_path %>
  	</p>
<% end %>