<% content_for :title, @book.title %>
<article class="book">
	<header>
		<h1 id="book_head"><%= @book.title %><h1>
	</header>
	<p><%= image_tag(@book.image_cover_url, :size => "250x300")%>
	<span class="span_top"><%= @book.abstract %> </span></p>
	<p><label>ISBN: </label><%= @book.isbn%></p>
	<p><label>Author: </label><%= link_to @book.author.name, author_path(@book.author) %>
	<p><label>Genre: </label><%= @book.genre %></p>
	<p><label>Abstract: </label><%= @book.abstract %></p>
	<p><label>Pages: </label><%= @book.pages %></p>
	<p><label>Published On: </label><%= @book.published_on %></p>
	<p><label># Total in Library: </label>
		<%= @book.total_in_library %>
	</p>
		
	<p><label># Reservations Available: </label> 
		<% if @available_reservations > 0 %>
			<%=	@available_reservations %> 
		<% else %>
			None Available
		<% end %>
	</p>
</article>

<%= link_to "Edit", edit_book_path(@book) %> |
<%= button_to "Delete", @book, 
	method: :delete, 
	data: {confirm: 'Are you sure?'} %>

<%= if @available_reservations > 0
	button_to "Reserve",reservations_path(book_id: @book), 
	 notice: '#{@book.title} has been reserved!' 
	 end %>
