<h1>My Reservations</h>

	<% @reservations.each do |reservation| %>
		<li>
			<%= image_tag(book.image_cover_url,  :size => "150x200")%>
			<%= link_to(book.title, book) %> by 
			<%= book.author.name %>
			<p><label>Reserved On: </label><%= formatted_time(@reservation.reserved_on) %></p>
			<p><label>Due On: </label><%= formatted_time(@reservation.due_on) %></p>
			

			</br>
		</li></br>
	<% end %>