<h1>My Reservations</h>
<!-- wanted to insert loop here for the current user's reservations if the due date is > today and copy the format of the data that is within books/show.html.erb adding formatted_time(@reservation.reserved_on) and formatted_time(@reservation.due_on)-->
	
<ul class="reservations">
<% @reservations.each do |reservation| %>
		<li>
			<p>
			<%= image_tag(reservation.book.image_cover_url,  :size => "150x200")%>
			<%= link_to(reservation.book.title, books_url(reservation.book_id))%> by 
			<%= reservation.book.author.name %> </br>
			<label>Reserved On: </label><%= reservation.reserved_on %></br>
			<label>Due On: </label><%= reservation.due_on %></br>
			<%= button_to 'Return book', method: :delete,  data: {confirm: 'Are you sure?' } %>
		</p>
<% end %>
<ul class="reservations">
<%= paginate @reservations %>